
// ブレイクポイントを指定
$pc: 1152px;
$sp: 768px;

@mixin pc {
    @media screen and (max-width: ($pc)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}

html {
    // font-size: 62.5%;
    // デフォルト(16px)の62.5%なので
    // デフォルト10px になる！
		font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}


body {
		width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    // margin: 0rem 10rem;
    // padding: 2rem 3rem;

    @include sp {
        margin: 0 auto;
    }

}

#menu-menu-1{
    display: flex;
    justify-content: flex-end;
    gap: 3em;
    margin: 3em 5em;
    font-size: 1.5rem;
    // 24px
}


.kv_img {
    background-image: url(../../img_file/visual_1_pc.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    position: relative;
    max-width: 1152px;
    margin: 0 auto;

    .kv_sm_img {
        position: absolute;

        width: 30%;
        height: auto;
        top: -110px;
        left: -90px;

        // @include sp {
        //     margin: 0 auto;
        // }

    }

    .kv_text_img {
        position: absolute;
        top: 88%;
        right: -4em;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        // width: 2%;

        img {
            width: 100%;
            height: auto;
        }
    }
}


.kv_text {
    font-size: 1.5rem;
}

.inner {
    margin: 0rem -4rem;
}

// footer

footer {
    background-color: black;
    height: 6em;
    text-align: center;
    line-height: 6em;
    max-width: 100%;

    p {


        color: white;
    }

}

// shotaro's corner
.articles h1 {
    text-align: center;
		font-size: 1.5rem;
		margin: 1.5rem 0;

}

@mixin box{
	height: 400px;
	width: 33%;
	border: solid 1px black;
	margin-bottom: 15px;
	img{
		width: 100%;
	}
	p {
			display: flex;
			flex-wrap: wrap;
	}
	.words{
		display: flex;
		flex-direction: column;
		padding: 0 10px;
	}
	// a{
		// position: relative;
		// bottom: -55px;
		// left: 230px;
	// }
}

.boxes {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;


    .box1 {
			@include box;
    }

    .box2 {		
			@include box;
    }

    .box3 {
			@include box;
    }

    .box4 {
			@include box;
    }

    .box5 {
			@include box;
    }

    .box6 {
			@include box;
    }
}

.wakukage {
	border: 1px solid black;
	box-shadow: 0 0 10px 5px;
}