@charset "UTF-8";
html {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.allwrapper {
  width: 1153px;
  margin: 0 auto;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

#menu-menu-1 {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
  margin: 50px 0px;
}

.n2_clear {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}
.n2_clear .kv_sm_img {
  position: absolute;
  width: 30%;
  height: auto;
  top: -110px;
  left: -90px;
}
.n2_clear .kv_text_img {
  position: absolute;
  top: 88%;
  right: -4em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.n2_clear .kv_text_img img {
  width: 100%;
  height: auto;
}

.kv_text {
  font-size: 1.5rem;
}

.inner {
  margin: 0rem -4rem;
}

footer {
  background-color: black;
  height: 6em;
  text-align: center;
  line-height: 6em;
  max-width: 100%;
}
footer p {
  color: white;
}

.articles h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem 0 1.5rem 0;
  font-weight: bold;
}

.boxes {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
}
.boxes .box1 {
  height: 400px;
  width: 31%;
  font-weight: bold;
  margin-bottom: 25px;
}
.boxes .box1 img {
  width: 100%;
}
.boxes .box1 p:last-of-type {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}
.boxes .box1 .words {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.boxes .box1 a {
  display: flex;
  justify-content: end;
}
.boxes .box2 {
  height: 400px;
  width: 31%;
  font-weight: bold;
  margin-bottom: 25px;
}
.boxes .box2 img {
  width: 100%;
}
.boxes .box2 p:last-of-type {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}
.boxes .box2 .words {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.boxes .box2 a {
  display: flex;
  justify-content: end;
}
.boxes .box3 {
  height: 400px;
  width: 31%;
  font-weight: bold;
  margin-bottom: 25px;
}
.boxes .box3 img {
  width: 100%;
}
.boxes .box3 p:last-of-type {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}
.boxes .box3 .words {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.boxes .box3 a {
  display: flex;
  justify-content: end;
}
.boxes .box4 {
  height: 400px;
  width: 31%;
  font-weight: bold;
  margin-bottom: 25px;
}
.boxes .box4 img {
  width: 100%;
}
.boxes .box4 p:last-of-type {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}
.boxes .box4 .words {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.boxes .box4 a {
  display: flex;
  justify-content: end;
}
.boxes .box5 {
  height: 400px;
  width: 31%;
  font-weight: bold;
  margin-bottom: 25px;
}
.boxes .box5 img {
  width: 100%;
}
.boxes .box5 p:last-of-type {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}
.boxes .box5 .words {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.boxes .box5 a {
  display: flex;
  justify-content: end;
}
.boxes .box6 {
  height: 400px;
  width: 31%;
  font-weight: bold;
  margin-bottom: 25px;
}
.boxes .box6 img {
  width: 100%;
}
.boxes .box6 p:last-of-type {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}
.boxes .box6 .words {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.boxes .box6 a {
  display: flex;
  justify-content: end;
}

.underline {
  display: inline-block;
  padding-bottom: 7px;
  position: relative;
}
.underline::after {
  background-color: black;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  right: 0;
  position: absolute;
  transition: 0.5s all;
  width: 5%;
}
.underline:hover::after {
  width: 33%;
}

.wakukage {
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .allwrapper {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .boxes {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .boxes .box1 {
    height: 370px;
    width: 85vw;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .boxes .box1 img {
    width: 100%;
  }
  .boxes .box1 p:last-of-type {
    height: 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .boxes .box1 .words {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .boxes .box1 a {
    display: flex;
    justify-content: end;
  }
  .boxes .box2 {
    height: 370px;
    width: 85vw;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .boxes .box2 img {
    width: 100%;
  }
  .boxes .box2 p:last-of-type {
    height: 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .boxes .box2 .words {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .boxes .box2 a {
    display: flex;
    justify-content: end;
  }
  .boxes .box3 {
    height: 370px;
    width: 85vw;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .boxes .box3 img {
    width: 100%;
  }
  .boxes .box3 p:last-of-type {
    height: 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .boxes .box3 .words {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .boxes .box3 a {
    display: flex;
    justify-content: end;
  }
  .boxes .box4 {
    height: 370px;
    width: 85vw;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .boxes .box4 img {
    width: 100%;
  }
  .boxes .box4 p:last-of-type {
    height: 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .boxes .box4 .words {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .boxes .box4 a {
    display: flex;
    justify-content: end;
  }
  .boxes .box5 {
    height: 370px;
    width: 85vw;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .boxes .box5 img {
    width: 100%;
  }
  .boxes .box5 p:last-of-type {
    height: 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .boxes .box5 .words {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .boxes .box5 a {
    display: flex;
    justify-content: end;
  }
  .boxes .box6 {
    height: 370px;
    width: 85vw;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .boxes .box6 img {
    width: 100%;
  }
  .boxes .box6 p:last-of-type {
    height: 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .boxes .box6 .words {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .boxes .box6 a {
    display: flex;
    justify-content: end;
  }
}/*# sourceMappingURL=style.css.map */